<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluguel de carros | Login</title>

    <link rel="icon" href="..." type="image/x-icon">
    <link rel="stylesheet" href="...">
</head>
<body>
    <header>
      <img src="..." alt="logo">
    </header>
    <h1 id="Title">Login</h1>
    <div id="contentForm">
      <form id="formLogin" action="/login" method="post">
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div>
          <label for="senha">Senha:</label>
          <input type="password" name="senha" id="senha" placeholder="Senha">
        </div>
        <p id="error">none</p>
        <button type="submit">Login</button>
      </form>
      <div>
        <p id="noSign">Não tem Login? <a href="#">Cadastre-se</a> agora</p>
      </div>
    </div>
    <footer>
      <p>&copy; Silvio Santiago Cacique | Image by <a href="#" target="_blank"></a></p>
    </footer>
    <script src="../static/login.js"></script>
</body>
</html>